@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
}
body {
    background-color: #22212C;
    width: 100%;
    height: 100vh;
}
main {
    display: flex;
}
.container-side-bar-left{
    width: 33rem;

}
.side-bar-profile-container {
    background-color: #302F3D;
    width: 30rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-right: 3rem;
    margin-left: 3rem;
    height: 23rem;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.side-bar-profile-container img {
    width: 12rem;
    height: 12rem;
    border: 2px solid green;
    border-radius: 100px;
}    
.side-bar-info-profile-container {
    background-color: #302F3D;
    width: 30rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 3rem;
    margin-left: 3rem;
    height: 24rem;
    border-radius: 25px;
    display: flex;
}
.side-bar-info-profile-container svg {
    width: 5rem;
    padding-left: 4rem;
    color: #837E9F;
}
.info-img {
    width: 10rem;
    height: 24rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.text-img {
    width: 24rem;
    height: 24rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.text-img h2 {
    color: #837E9F;
    font-size: 19px;
}
.side-bar-tags-container {
    background-color: #302F3D;
    width: 30rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 3rem;
    margin-left: 3rem;
    height: 11rem;
    border-radius: 25px;
}
.title-tags {
    display: flex;
    align-items: center;
    width: 28rem;
    height: 4rem;
    padding-left: 2rem;
    color: #837E9F;
    font-size: 25px;
}
.global-tags {
    display: flex;
}
.tags { 
    padding-top: 1.5rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}
.around1 {
    padding-left: 1.69rem;
    padding-right: 1.69rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 30px;
    background-color: #CB92B1;
    -webkit-box-shadow: 10px 7px 14px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 7px 14px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 7px 14px -8px rgba(0,0,0,0.75);
}
.around2 {
    padding-left: 1.69rem;
    padding-right: 1.69rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 30px;
    background-color: #CB92B1;
    -webkit-box-shadow: 10px 7px 14px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 7px 14px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 7px 14px -8px rgba(0,0,0,0.75);
}
.around3 {
    padding-left: 1.69rem;
    padding-right: 1.69rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 30px;
    background-color: #CB92B1;
    -webkit-box-shadow: 10px 7px 14px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 7px 14px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 7px 14px -8px rgba(0,0,0,0.75);
}
.side-bar-experiences-container {
    background-color: #302F3D;
    width: 30rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 3rem;
    margin-left: 3rem;
    height: 25rem;
    border-radius: 25px;
}
.experiences {
    display: flex;
    align-items: center;
    width: 28rem;
    height: 4rem;
    padding-left: 2rem;
    color: #837E9F;
    font-size: 25px;
}
.experiences-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25rem;
    height: 21rem;
    font-size: 20px;
    padding-left: 5rem;
    color: #837E9F;
}
.experiences-box li {
    font-weight: bold;
}
.side-bar-education-container {
    background-color: #302F3D;
    width: 30rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 3rem;
    margin-left: 3rem;
    height: 17rem;
    border-radius: 25px;
}
.education-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25rem;
    height: 13rem;
    font-size: 20px;
    padding-left: 5rem;
    color: #837E9F;
}
.education-box li {
    font-weight: bold;
}
.container-side-bar-right {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.main-projects {
    background-color: #302F3D;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-right: 3rem;
    margin-left: 3rem;
    height: 8rem;
    border-radius: 25px;
    font-size: 24px;
}
.side-left {
    float: left;
    padding: 2.5rem;
}
.side-right {
    float: right;
    padding: 2.5rem;
}
.project-1 {
    background-color: #302F3D;
    width: 57.21rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 3.25rem;
    margin-right: 1rem;
    height: 19rem;
    border-radius: 25px;
    padding-right: 3rem;
}
.folder {
    width: 57.21rem;
    height: 6rem;
    display: flex;
    align-items: center;
    color: #837E9F;
}
.folder svg {
    padding-left: 4rem;
    width: 35px;
    height: 35px;
}
.project-info {
    width: 57.21;
    height: 7rem;
    display: flex;
    align-items: center;
    color: #837E9F  ;
}
.project-info h2 {
    padding-left: 5rem;
    padding-right: 1rem;
    font-size: 18px;
}
.project-starbranch {
    width: 57.21;
    height: 6.2rem;
    display: flex;
    align-items: center;
    color: #837E9F;
    padding-left: 4rem;
}
.project-starbranch svg {
    width: 35px;
    height: 35px;
}
.star:hover {
    color: yellow ;
    cursor: pointer;
    transition: all 200ms ease-in;
}
.branch:hover {
    color: white;
    cursor: pointer;
    transition: all 200ms ease-in;
}
.project-starbranch h2 {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 19px;
}
.language-prog {
    width: 20rem;
    height: 6.4rem;
    margin-left: 20rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}
.language-prog figure {
    box-sizing: border-box;
    border-radius: 30px;
    width: 19px;
    height: 19px;
    left: 787px;
    top: 295px;
    background: #E7DE79;
    border: 2px solid #837E9F;
}
.project-2 {
    background-color: #302F3D;
    width: 57.21rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 3.25rem;
    height: 19rem;
    border-radius: 25px;
}
.recent-projects {
    background-color: #302F3D;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 3rem;
    margin-left: 3rem;
    height: 8rem;
    border-radius: 25px;
}
.recent-projects p {
    float: left;
    padding: 2.5rem;
    font-size: 24px;
    font-weight: bold;
}
.post {
    background-color: #302F3D;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 3rem;
    margin-left: 3rem;
    height: 16rem;
    border-radius: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.post img {
    width: 10rem;
    height: 10rem;
    padding-left: 5rem;
}
.post-flex {
    display: flex;
    flex-direction: column;
}
.post-text-title {
    display: flex;  
    flex-direction: column; 
    width: 102rem;
    height: 5.6rem;
    font-size: 18px;
    padding-left: 2rem;
    padding-top: 1rem;
    color: #837E9F;
}
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #837E9F;
        height: 10vh;
        width: 100%;
        border-top: 2px solid #837E9F;
    }